@model terraria_api.Models.ArmorPiece

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArmorPiece</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Href)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Href)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObtainedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObtainedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodySlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodySlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolTip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolTip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
